<html>

<head>
    <meta charset='utf-8'>
    <TITLE>{{title}}</TITLE>
</head>

<body style="background: url(http://i.imgur.com/HF3Xxg1.jpg)">
    <h1 style="color: white; text-align: center;">{{sign}}</h1>
    <h1 style="color: white; text-align: center;">{{date_range}}</h1>
    <h2 style="color: white; text-align: center;">{{description}}</h2>
    <div style="text-align:center;">
        <button id="searchButton" style="position: relative;">See Recommendations</button>
    </div>
    <button id="button1" type="button" value="Logout" onclick="window.location.href='/'" />
    <script type="text/javascript">
        document.getElementById('searchButton').addEventListener("click", function ()
        {
            window.location.href = "/search";
        });
        document.getElementById('button1').addEventListener("click", function ()
        {
            window.location.href = "/logout";
        });
    </script>
</body>
</html>  
