<!DOCTYPE html>
<html>
<title>
	Fail to login
</title>

<body>
	<h1>Fail to login, returning to login page...</h1>
</body>
<script>
        setTimeout(() =>
        {
            window.location.href = '/';
        }, 2000);
    </script>
</html>
