<!DOCTYPE html>
<html>
<head>
	<meta charset='utf-8'>
	<title>Register Status</title>
</head>
	<body>
		Registered successfully. Jumping to the page now......
	</body>
	<script>
		setTimeout(() => {
			window.location.href='/horoscope';
		},2000);
	</script>
</html>